/* 1440px - 1195px */
@media (min-width: 1200px) {
  .container {
    max-width: 1194px;
    padding: 0 32px;
  }
  .services {
  padding: 60px 100px;
}

.service-card {
  width: 407px;
  height: 444px;
}
}